:root {
    --bg-color: #f4f4f4;
    
    --second-bg-color: #ff4500;
    
    --text-color: #333333;
    
    --main-color: #007acc;
    
}
.container-detail{
    padding-top: 15rem;
    min-height: 30vh;
    background-color: white;
    
}

.container-detail h1{
    font-size: 3.5rem;
    text-align: center;
    color: var(--text-color);
}

strong{
    color: var(--main-color);
}

.div-info{
    color: var(--text-color);
    text-align: center;
    margin-left: 1.5rem;
}

.div-info h2{
    font-size: 2.5rem;
    margin: 0;
    color: var(--text-color);
}

.prod-p{
    width: 50rem;
}

.div-flex{
    display: flex;
    border: .2rem solid var(--main-color);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}


.btn-detail-cart{
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    padding-top: 1rem;
    border: solid .2rem var(--main-color);
    margin-top: .2rem ;
}

.btn-detail-cart:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.product-img{
    width: 35rem;
    height: 45rem;
    margin: .5rem;
}

.counter-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
}

