:root {
    --bg-color: #f4f4f4;
    
    --second-bg-color: #ff4500;
    
    --text-color: #333333;
    
    --main-color: #007acc;
    
}

.div-products-ilc{
    margin: 8rem auto ;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
    background-color: var(--bg-color);
}

.container-products{
    padding: 1rem;
}

.backg-style-product{
    border: 1px solid var(--text-color);
    box-shadow: 0 0 1rem  rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    margin: 2rem auto;
    text-align: center;
    background-color: white;
    overflow: hidden;
    width: 50rem;
}

.backg-style-product:hover{
    transform: scale(1.05);
}

.backg-style-product img{
    height: 45rem;
}

.product-inf{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--text-color);
}

.product-inf h2{
    font-size: 1.5rem;
    margin: 0;
    color: var(--text-color);
}

.prod-p{
    font-size: 1.5rem;
    color: var(--text-color);
    width: 100%;
}

.prod-price{
    font-size: 1.8rem;
    margin-top: .5rem;
    font-weight: bold;
    color: var(--main-color);
}

.btn-detail{
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-detail:hover{
    background-color: #005eaa;
}

@media (max-width: 1440px) {
    .div-products-ilc{
        grid-template-columns: 1fr 1fr;

    }
    .backg-style-product{
        width: 55rem;
    }
    
    .backg-style-product img{
        height: 40rem;
    }
    .backg-style-product:hover{
        transform: scale(1.03);
    }
}
@media (max-width: 1024px){
    .backg-style-product{
        width: 45rem;
    }
}
@media (max-width: 768px){
    .div-products-ilc{
        display: flex;
        flex-direction: column;
        margin-top: 15rem;
    }
    .backg-style-product{
        width: 60rem;
    }
}
@media (max-width: 425px){
    .div-products-ilc{
        padding-top: 24rem;
    }
    .backg-style-product{
        width: 35rem;
    }
    .backg-style-product img{
        max-width: 100%;
        height: 30rem;
    }
}
@media (max-width: 375px){
    .backg-style-product img{
        height: 25rem;
    }
}