
:root {
    --bg-color: #f4f4f4;
    
    --second-bg-color: #ff4500;
    
    --text-color: #333333;
    
    --main-color: #007acc;
    
}


.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--bg-color);
    z-index: 2;
}

.hero-tagline {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #ff8123;
    cursor: pointer;
}

.featured-products {
    padding: 6rem 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.section-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color);
}

.product-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.product-card {
    width: calc(33.33% - 2rem);
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: solid 0.5rem #2c2c2c;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    background: transparent;
}

.product-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.product-price {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-color);
    display: block;
    margin-bottom: 1rem;
}

.product-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.product-button:hover {
    background-color: #ff8123;
}

.value-propositions {
    padding: 6rem 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.value-prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.value-prop i {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.value-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.value-description {
    font-size: 1.6rem;
}

.value-prop.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.about-us {
    padding: 6rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.about-us img {
    flex: 1;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
}

.about-content {
    flex: 1;
    padding-right: 4rem;
    max-width: 50%;
    text-align: center;
}

.about-description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.about-content.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.show-more .about-description {
    max-height: none;
    overflow: visible;
}

.hidden-content {
    display: none;
}

.show-more .hidden-content {
    display: block;
}

.testimonials-container {
    background-color: var(--bg-color);
}

.testimonials-center {
    display: block;
    justify-content: center;
    width: auto;
    align-items: center;
    height: 10rem;
}

.testiomials-h3 {
    font-size: 2rem;
    color: var(--main-color);
    text-align: center;
}

.testimonial-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "testimonial1 testimonial2 testimonial3";
    gap: 1rem;
    margin: 2rem;
}

.testimonial {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: solid 0.5rem #2c2c2c;
    padding: 1.5rem;
    align-items: center;
    text-align: center;
}

.testimonial:hover {
    transform: translateY(-10px);
}

.testimonial1 {
    grid-area: testimonial1;
}

.testimonial2 {
    grid-area: testimonial2;
}

.testimonial3 {
    grid-area: testimonial3;
}

.fake-testimonials-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.fake-testimonials-p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
}

.name-testimonial {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

@media (max-width: 425px) {
    .hero{
        width: 100%;
    }

    .featured-products{
        padding: 0;
    }
    .product-carousel{
        flex-direction: column;
        align-items: center;
    }
    .product-card{
        width: 80%;
    }
    .about-us{
        flex-direction: column;
        
    }
    .about-content{
        max-width: 100%;
    }
    .about-us img{
        margin-top: 1rem;
        max-width: 100%
    }
    .testimonial-div{
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        width: 80%;
        margin: 5rem auto;
    }

}