
:root {
    --bg-color: #f4f4f4;
    
    --second-bg-color: #ff4500;
    
    --text-color: #333333;
    
    --main-color: #007acc;
    
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem 2%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    border-bottom: .1rem solid rgba(0,0,0,.2);
}


.h1-sf {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.logo-img {
    width: 12rem;
    height: 10rem;
    border-radius: 50%;
}

.nav-link{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 2em;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--main-color);
}

.active{
    color: var(--main-color);
}

.cart-icon {
    display: inline-block;
}

.cart-icon i {
    font-size: 3.5rem;
    color: var(--text-color);
}

.cart-icon i:hover {
    transition: 0.5s ease-in;
    color: var(--main-color);
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    padding: 0.3rem 1rem;
    margin-left: 2rem;
}

.search-bar i {
    font-size: 2.2rem;
    color: var(--text-color);
    margin-right: 1rem;
}

.search-bar input[type="text"] {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.5rem;
}

.search-bar:hover {
    border-color: var(--main-color);
}


.btn-nav{
    border-radius: 10%;
    background-color: var(--bg-color);
    border: solid .2rem var(--main-color);
    color: var(--text-color);
    margin-left: .5rem;
}

.btn-nav:hover{
    background-color: var(--main-color);
    cursor: pointer;
}

.cart-num{
    font-size: 1.5rem;
    color: var(--text-color);
    
}

@media (max-width: 1024px){
    .h1-sf{
        font-size: 3rem;
    }
    .search-bar{
        width: 26rem;
    }
    .search-bar i{
        font-size: 2rem
    }
    .search-bar input[type="text"]{
        font-size: 1.2rem;
    }

    #menu-icon{
        display: block;
    }

    #menu-icon:hover{
        color: var(--main-color);
        cursor: pointer;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .nav-link{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

@media (max-width: 768px){
    .logo-img{
        width: 10rem;
        height: 8rem;
        grid-area: logo-img;
    }
    #menu-icon{
        grid-area: menu-icon;
    }
    .h1-sf{
        grid-area: h1-sf;
    }
    .search-bar{
        width: 25rem;
        grid-area: search-bar;
    }
    .cart-num{
        grid-area: cart-num;
    }

    .header{
        display: grid;
        grid-template-columns: repeat(3, .5fr);
        grid-template-rows: repeat(2, .5fr);
        place-items: center;
        grid-template-areas: 
        "logo-img h1-sf menu-icon"
        ". search-bar cart-num"
        ;
        gap: 1.5rem;
    }
    
    .btn-nav{
        font-size: 1.2rem;
        margin-left: 0;
    }
}

@media (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .hero{
        margin-top: 10rem;
    }
    .logo-img{
        width: 15rem;
        height: 12rem;
    }
    .h1-sf{
        font-size: 3.5rem;
    }
    .search-bar{
        width: 30rem;
        height: 4rem;
    }
    .btn-nav{
        margin-left: 4rem;
    }
    
    }