:root {
    --bg-color: #333333;
    
    --second-bg-color: #007acc;
    
    --text-color: #fff;
    
    --main-color: #ffa500;
    
}

.item-count-container{
    min-height: 20vh;
    background-color: var(--bg-color);
}


.count-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-quantity{
    font-size: 1.5rem;
    padding: 1rem;
}

.item-count-container h2{
    text-align: center;
    color: var(--text-color);
}

.btn-counter{
    border: double .2rem var(--main-color);
    font-size: 1.5rem;
    width: 3rem;
}

.btn-add-to-cart{
    padding-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-to-cart button{
    font-size: 1.7rem;
    border-radius: 5%;
}

.btn-add-to-cart button:hover{
    background-color: var(--main-color);
    cursor: pointer;
    
}